.container {
  width: 375px;
  height: 812px;
  border-radius: 25px;
  background-color: #fff;
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: 5px 10px 26px gray;
}