.status-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.status-bar__column {
  width: 40%;
  margin-top: 20px;
  padding: 10px;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:last-child span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}